/**
 * A fast Brainfuck interpreter, translator, and compiler.
 * Copyright (C) 2019  Pratanu Mandal
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 */

#include <windows.h> // include for version info constants

// ICON
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

// VERSIONINFO
1 VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "080904E4"
		 {
			 VALUE "CompanyName", "Pratanu Mandal"
			 VALUE "FileVersion", ""
			 VALUE "FileDescription", "Brainfuck Interpreter"
			 VALUE "InternalName", "Brainfuck Interpreter"
			 VALUE "LegalCopyright", "Pratanu Mandal (c) 2019"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "brainfuck.exe"
			 VALUE "ProductName", "Brainfuck Interpreter"
			 VALUE "ProductVersion", "1.2"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0809, 1252
	 }
}
