#include <windows.h> // include for version info constants

// ICON
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

// VERSIONINFO
1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "080904E4"
		 {
			 VALUE "CompanyName", "Pratanu Mandal"
			 VALUE "FileVersion", ""
			 VALUE "FileDescription", "Brainfuck Interpreter"
			 VALUE "InternalName", "Brainfuck Interpreter"
			 VALUE "LegalCopyright", "Pratanu Mandal (c) 2019"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "brainfuck.exe"
			 VALUE "ProductName", "Brainfuck Interpreter"
			 VALUE "ProductVersion", "1.0"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0809, 1252
	 }
}
